<!doctype html>
<html>
  <head>
    <title>react output demo</title>
    <link href='/styles.css' rel="stylesheet">
  </head>
  <body>
	<h1 id="main-title">react output demo-成绩表</h1>
    <div id="container">
      <div>
        <%- reactOutput %>
      </div>
    </div>
	<!-- comment out main.js to see server side only rendering -->
	<script src="/main.js"></script>
  </body>
</html>
